<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" thread-count="2" parallel="tests">
    <test name="Java" parallel="methods">
        <classes>
            <class name="coding.JavaProblems" >
            <!--<methods>
                <include name="" />
            </methods>-->
            </class>
        </classes>
    </test>
</suite>
